@import "colors";

.navbar, .navbar-default {
  font-family: 'Oswald', sans-serif;
  color: $black;
  background-color: $background !important;
  border-color: white !important;
  height: 100px;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  position: fixed !important;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s ease;

}

.full-nav {
  position: absolute;
  right: 15px;
  bottom: 25px;
  display: flex;
  width: 300px;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-right: 50px;

  p {
    font-weight: 300;
    cursor: pointer;
    padding-top: 10px;
  }
}

.nav-burger {
  display: hidden;
}

// playing around with ticky nav
.sticky {
  opacity: 0.8;
  color: rgb(20, 107, 15);
  transition: all 0.4s ease;
}

// change nav to burger time
@media(max-width: 500px) {
  .full-nav {
    display: none;
  }

  .navbar, .navbar-default  {
    height: 70px;
  }

  .nav-burger {
    display: block;
    width: 50px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: all 1s ease;

    div {
      border-top: 2px $black solid;
      width: 40px;
      padding-bottom: 10px;
    }
  }

}

.overlay {
  opacity: 1;
  background-color:#82b37e;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  padding: 57px 30px;
}

.hidden {
  display: none;
}

.nav-links {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-left: 40%;

  h3 {
    padding: 20px;
  }

  .languages {
    padding-top: 80px;
    h4 {
      padding: 10px;
      cursor: pointer;
      font-weight: 300;
    }
  }
}

.close-nav {
  width: 50px;
  position: absolute;
  right: 16px;
  top: 18px;
  transition: all 1s ease;

  div {
    border-top: 2px black solid;
    width: 40px;
    padding-bottom: 10px;
  }
}
