.main {
  font-family: 'Assistant', sans-serif;
  font-weight: 400; }

a, a:focus, a:hover, a:active {
  text-decoration: none !important;
  color: #323232 !important; }

article {
  padding-top: 100px; }

@media (max-width: 500px) {
  article {
    padding-top: 70px; } }

.navbar, .navbar-default {
  font-family: 'Oswald', sans-serif;
  color: #323232;
  background-color: white !important;
  border-top: #c9c9c9 !important;
  height: 100px;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  position: fixed !important;
  width: 100%;
  z-index: 1000;
  transition: all 0.4s ease; }
  .navbar img, .navbar-default img {
    transition: all 0.4s ease;
    height: 70px; }

.full-nav {
  transition: all 0.4s ease;
  position: absolute;
  right: 15px;
  bottom: 25px;
  display: flex;
  width: 300px;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-right: 50px; }
  .full-nav p {
    font-weight: 300;
    cursor: pointer;
    padding-top: 10px; }

.nav-burger {
  display: hidden; }

.active.bud {
  text-decoration: underline !important; }

.sticky {
  opacity: 0.8;
  color: #aa5045;
  transition: all 0.4s ease;
  height: 50px; }
  .sticky img {
    transition: all 0.4s ease;
    height: 35px; }
  .sticky .full-nav {
    transition: all 0.4s ease;
    bottom: 5px; }
    .sticky .full-nav a {
      color: #aa5045 !important; }

@media (max-width: 500px) {
  .full-nav {
    display: none; }
  .navbar, .navbar-default {
    height: 70px; }
    .navbar img, .navbar-default img {
      transition: all 0.4s ease;
      height: 50px; }
  .nav-burger {
    display: block;
    width: 50px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transition: all 0.4s ease; }
    .nav-burger div {
      border-top: 1px #323232 solid;
      width: 40px;
      padding-bottom: 10px; }
  .sticky {
    color: #323232;
    transition: all 0.4s ease;
    height: 50px; }
    .sticky img {
      transition: all 0.4s ease;
      height: 30px; }
    .sticky .nav-burger {
      bottom: 4px; }
      .sticky .nav-burger div {
        border-color: #aa5045; } }

.overlay {
  font-family: 'Oswald', sans-serif;
  color: #323232;
  opacity: 1;
  background-color: #aa5045;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  padding: 57px 30px; }

.hidden {
  display: none; }

.nav-links {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-left: 40%; }
  .nav-links h3 {
    padding: 20px; }
  .nav-links .languages {
    padding-top: 80px; }
    .nav-links .languages h4 {
      padding: 10px;
      cursor: pointer;
      font-weight: 300; }

.close-nav {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all 0.4s ease; }
  .close-nav span {
    height: 100px; }
  .close-nav div {
    border-top: 2px #323232 solid;
    width: 40px;
    padding-bottom: 10px; }

.me img {
  width: 100%; }

.responsive-cal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-top: 50px; }
  .responsive-cal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
